a/
zip/
apk/
src/android
src/androidx
src/com/facebook
src/com/futuremind
src/com/github
src/com/google
src/com/scwang
src/com/shockwave
src/com/squareup
src/de
src/io
src/javax
src/kotlin
src/kotlinx
src/retrofit2
src/okhttp3
src/okio
src/org/apache
src/org/checkerframework
src/org/intellij
src/org/jetbrains
src/org/json
src/org
src/org
src/org
src/org
src/org
# Resource references
**R.java
